body {
    font-family: Arial, sans-serif;
    margin: 0;

    
    min-height: 100vh;
    background-color: #f4f4f9;
    background-image: url(./assests/a8.jpg);
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  header {
    background-color: #000;
    position: sticky;
    top: 0 ;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    
}

.nav-links a:hover {
    color: #ffff;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}


  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding-top: 80px;
  }

  .card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }

  .card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .card button:hover {
    background-color: #0056b3;
  }