body{
    margin: 0;
    background-image: url(./assests/a8.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header {
    background-color: #000000;
    position: sticky;
    top: 0;
    display: flex;
    
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

.nav-links a {
    color: #ffffff;
    display: block;
    text-align: center;
    
     
    text-decoration: none;
    
}

.nav-links a:hover {
    color: #ffffff;
}
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.hero {
    height: 100vh;
    
    color: #090809;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    
    background-color: #fff;
    color: #2575fc;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
}

.btn:hover {
    background-color: #2575fc;
    color: #fff;
}


footer {
    
    color: #040303;
    padding: 1rem 1rem;
    text-align: center;
    
}

.social-links a {
    margin: 0 0.5rem;
    color: #fff;
    text-decoration: none;
}

.back-to-top {
    display: block;
    margin-top: 1rem;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
    .nav-link {
        display: none;
    }
    .nav-link.active {
        display: block;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 1000px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 20px;
  }
  
  .title {
    color: rgb(10, 10, 10);
    font-size: 18px;
  }
  
  button{
    border: 2px solid black;
    background-color: #edc6f5;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    
    color: #000000;
    border-color: #68067e;

  }